:root{
  --main: #ffffff;
  --bg: #2a2a2a;
  --accent: #005c48;
  --accenthover: #013328;
  --border2px: solid #ccc 2px;
  --border1px: solid #ccc 1px; 
  --accenthoveropposite: #2f181b;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
  /* SLIDE IN UNDERLINE */
.slideUnderline {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(white, white);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}
.slideUnderline:hover,
.slideUnderline:focus,
.slideUnderline:active {
  background-size: 100% 0.1em;
}
    
/* SLIDE IN YUNDERLINE GREEN VERSION */
.slideUnderlineGreen {
  color: var(--accenthover);
  text-decoration: none;
  background-image: linear-gradient(var(--accenthover), var(--accenthover));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}
.slideUnderlineGreen:hover,
.slideUnderlineGreen:focus,
.slideUnderlineGreen:active {
  background-size: 100% 0.1em;
}
/* styling for form */
input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none !important;
    border-color: inherit;
    box-shadow: none !important;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.drop-header {
  width: 95%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem; 
  position: relative;
}
#logo-img {
  margin-top: 0;
  height: 45px;
  position: absolute;
  left: 0;
}
#lock-img {
  height: 22.5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


/* PASSWORD FORM CONTAINER */
.password-form-container{
  position: absolute;
  right: 52.5px;
  top: 50%;
  transform: translateY(-50%) translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.password-form-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}

#password-form {
  display: flex;
  flex-direction: row;
}
#password-form input {
  margin-right: .5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
#password-form button {
  padding: .4rem .6rem;
  border: none;
  color: white;
  background-color: var(--accenthover);
  cursor: pointer;
  font-size: .8rem;
}

/* EMAIL FORM CONTAINER */
.main-form-container {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-form-container form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.main-form-container input {
  height: 3rem;
  padding: 0 0 0 1rem;
  border: 2px solid var(--bg);
  font-size: 1.2rem;
}
.main-form-container input:focus,
.main-form-container input:active {
  border-bottom: 2px solid var(--bg);
}

.main-form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-form-button-container button {
  width: 100%;
  padding: 1rem 1.4rem;
  border: none;
  color: white;
  background-color: var(--accenthover);
  cursor: pointer;
  font-size: 1.1rem;
} 

@media (max-width: 768px) {
  .drop-header {
    height: 100px;
  }
  #logo-img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  #lock-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .password-form-container {
    left: 50%;
    transform: translate(-50%, 65px);
  }
  .password-form-container.active {
    left: 50%;
    transform: translate(-50%, 45px);
  }
}