:root{
  --main: #ffffff;
  --accent: #005c48;
  --accenthover: #013328;
  --border2px: solid #ccc 2px;
  --border1px: solid #ccc 1px; 
  --accenthoveropposite: #2f181b;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* LANDING IMAGE GRID */
.landing-image-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  height: 100vh;
}
.landing-item {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* PSEUDO EFFECT FOR DARKNESS */
.landing-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.landing-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LANDING IMAGE SMALL LAPTOP BREAKPOINT */
@media(max-width: 768px){
  .landing-image-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .landing-image-3{
    display: none;
  }
}
/* LANDING IMAGE MOBILE BREAKPOINT */
@media(max-width: 512px) {
  .landing-image-grid{
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
  }
}

/* TEXT GRID OVERLAY */
.landing-grid-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-content {
  text-align: center;
  color: white;
  max-width: 90%;
}
.overlay-content h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}
.overlay-content a{
  color: white;
  text-decoration: none;
  border: var(--border2px);
  padding: .6rem 1.4rem;
  border-radius: .6rem;
}

.landing-image-1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}
.landing-image-middle{
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}
.landing-image-3{
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}











/* DEBUG OLNLY */
.debugPixelSize{
  background-color: #ccc;
  color: black;
  width: 80px;
  height: 40px;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}
.debugPixelSize p{
margin: 0;
padding: 0;
}