:root{
  --main: #ffffff;
  --accent: #005c48;
  --accenthover: #013328;
  --border2px: solid #ccc 2px;
  --border1px: solid #ccc 1px; 
  --accenthoveropposite: #2f181b;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* LANDING IMAGE GRID */
.landing-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
}


.landing-image-1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: red;
  flex: 1;
}
.landing-image-middle{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: blue;
  flex: 1;
}
.landing-image-3{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: green;
  flex: 1;
}











/* DEBUG OLNLY */
.debugPixelSize{
  background-color: #ccc;
  color: black;
  width: 80px;
  height: 40px;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}
.debugPixelSize p{
margin: 0;
padding: 0;
}