:root{
  --main: #ffffff;
  --accent: #005c48;
  --accenthover: #013328;
  --border2px: solid #ccc 2px;
  --border1px: solid #ccc 1px; 
  --accenthoveropposite: #2f181b;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* LANDING IMAGE GRID */
.landing-image-grid{
  display: flex;
  width: 100%;
}