.gridContainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* IMAGE GRID */
.imageGridContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 9 1 0;
  min-width: 0;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.imageContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
.imageContainer img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}


/* MOBILE IMAGE GRID */
.imageGridContainerMobile{
  display: none;
  flex-direction: row;
  width: auto;
}

.mobileImageContainer {
  flex: 0 0 100vw;
  width: 100vw;
  aspect-ratio: 1/1;
  scroll-snap-align: start;
}

.mobileImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* MOBILE IMAGE PREVIEWS */
.previewGridContainer{
  display: none;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
.previewImageContainer{
  height: 75%;
  aspect-ratio: 1/1;
}
.previewImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail{
  cursor: pointer;
  border: 1px solid transparent;
}
.thumbnail-active{
  opacity: 1;
  border-color: black;
}


.detailsContainer{
  flex: 6 1 0;
  min-width: 0;
  width: 100%;
  background-color: white;
  border: 1px solid red; /* FOR DEBUG ONLY */
  height: 500px;
  transform: translateY(1rem);
  position: sticky;
  top: calc(80px - 1rem);
  padding: 2rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailsContainer p, h1{
  margin: 0;
  padding: 0;
}
.detailsContainer h1 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.detailsContainer p {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}
.productTagsContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.productTag{
  background-color: #ccc;
  border-radius: 4px;
  padding: .2rem .4rem !important;
}


@media (max-width: 800px) {
  .gridContainer {
    flex-direction: column;
  }
  .imageGridContainer {
    display: none;
  }
  .detailsContainer {
    flex: none;
    width: 100%;
    position: static;
    transform: none;
    height: auto;
    margin-top: 0;
  }

  .imageGridContainerMobile{
    display: flex;
  }
  .previewGridContainer{
    display: flex;
  }
}