{% extends "core.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<script>
    window.stripePublicKey = "{{ STRIPE_PUBLISHABLE_KEY }}";
</script>

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock extra_head %}

{% block content %}
{% if items %}
  {% if cart.total_items == 1 %}
    <h1 class="yourCart">Your Cart ({{ cart.total_items }} item):</h1>
  {% else %}
    <h1 class="yourCart">Your Cart ({{ cart.total_items }} items):</h1>
  {% endif %}
{% endif %}


{% if items %}
<!-- ITEMS IN CART -->
<div class="CartInfoTopbar">
  <p>Product</p>
  <p>Quantity</p>
  <p>Subtotal</p>
</div>
<div class="CartContainer">
  {%for item in items%}
    <div class="ItemContainer">

      <div class="ItemDetails">
        <div class="ItemImage">
          <img src="{{ item.product.image0.url  }}" alt="{{ item.product.name }}">
        </div>
        <div class="ItemVariantDetailsContainer">
          <div class="ItemVariantDetails">
            <p>
              {{ item.product.name }}
              {% if item.variant.color %}
               - {{ item.variant.color.name }}
              {% endif %}
            </p>
            <p class="ItemVariantDetailsPrice">
              ${{ item.product.price_display }}
            </p>
            <p class="ItemVariantDetailsSize">
              {{ item.variant.size }}
            </p>
          </div>
          <!--REMOVE_FROM_CART  item.id indstead of index-->
            <div class="ItemVariantDetailsQuantity">
              <!--ITEM QUANTITY EDITOR-->
              <div>
                
              </div>
              <!--REMOVE FROM CART BUTTON-->
              <form method="post" action="{% url 'remove_from_cart' item.id %}" id="removeFromCartForm">
                {% csrf_token %}
                <button type="submit" id="removeFromCartButton" class="ItemRemove">Remove</button>
              </form>
            </div>

        </div>
      </div>

      <div class="ItemQuantity">
        {{ item.quantity }}
      </div>
      <div class="ItemTotal">
        ${{ item.subtotal_display }}
      </div>
      
    </div>
  {%endfor%}
    <div class="CheckoutContainer">
        <div class="checkoutPrices">
          Estimated Total: <div id="totalPriceDisplay">${{ cart.total_price_display }} USD</div>
        </div>
        <div class="CheckoutDetails">
          {% csrf_token %}
          <button id="checkout-button">
              <span class="checkout-text">Checkout</span>
              <span class="checkout-spinner"></span>
          </button>
        </div>
    </div>
</div>
<!-- EMPTY CART -->
{% else %}
  <div class="EmptyCart">
    <p>Your Cart Is Empty.</p>
    <a href="{% url 'index' %}" id="shopNow" class="DefaultButtonMed">Shop Now!</a>
  </div>
{% endif %}
{% endblock content %}