{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="{% static 'css/drop_page.css' %}" />
</head>
<body>
<main>
    <div class="drop-header">
        <img id="logo-img" src="{% static 'images/new-frayed-logo-transparent.png' %}" />
        <a class="lock-img-link">
            <img id="lock-img" src="{% static 'images/lock.svg' %}" />
        </a>

        <!-- PASSWORD INPUT -->
        <div class="password-form-container" id="password-form-container">
            <form id="password-form" method="post">
                {% csrf_token %}
                <input class="password-input" type="password" name="password" placeholder="Enter password to preview">
                <div class="password-button-container">
                    <button class="password-button" type="submit">Enter</button>
                </div>
            </form>
        </div>
    </div>

    <!-- MAIN EMAIL FORM -->
    <div class="main-form-container">
        <p id="form-text">Get notified when we drop!</p>
        <form method="post" id="email-form">
            {% csrf_token %}
            <input class="main-input" type="email" name="email" placeholder="Enter Email">
            <div class="main-form-button-container">
                <button id="email-submit-button" class="main-form-button" type="submit">Sign Up</button>
            </div>
            <p id="form-response"></p>
        </form>
    </div>
    <div class="main-form-container-subscribed">
        <p>Thank you for subscribing!</p>
    </div>
    
</main>
<script src="{% static 'js/drop_page.js' %}"></script>
</body>
</html>