{% extends "core.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
{% endblock extra_head %}
{% block content %}
<div class="gridContainer">
    <!--IMAGE GRID-->
    <div class="imageGridContainer">
      {% for image in product.images.all %}
      <div class="imageContainer">
        <img src="{{ image.image.url }}" alt="{{ product.title }}">
      </div>
      {% endfor %}
    </div>
  

    <!--MOBILE IMAGE GRID-->
    <div class="imageGridContainerMobile">
      <div class="mobileImageContainer">
        <!-- FIX PADDING BELOW IMAGES -->
        {% if product.image0 %}
        <img
          src="{{ product.image0.url }}"
          alt="{{ product.title }}"
          id="heroImage"
        >
        {% endif %}
      </div>
    </div>
    <!-- MOBILE IMAGE PREVIEWS -->
    <div class="previewGridContainer">
      {% for image in product.images.all %}
      <div class="previewImageContainer">
        <img
          src="{{ image.image.url }}"
          alt="{{ product.title }}"
          class="thumbnail {% if forloop.first %}thumbnail-active{% endif %}"
        >
      </div>
      {% endfor %}
    </div>
    

    <div class="detailsContainer">
      <div class="productTagsContainer">
        {% for tag in product.tags.all %}
          <p class="productTag">{{ tag.name }}</p>
        {% endfor %}
      </div>

      <div class="details">
        <h1>{{ product.name }}</h1>
        <h1>{{ product.price_display }}</h1>
        <!-- COLOR VARIANTS -->
        <div class="productVariantsContainer">
          {% for color in product.get_unique_colors %}
            <img 
              class="variantImage" 
              src="{{ color.image.url }}" 
              alt="{{ color.name }}"
            />
          {% endfor %}
        </div>
        <div class="productSizesContainer">
        </div>
      </div>

      <p>Bottom</p>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock scripts %}
