{% extends "core.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/product.css' %}" />
{% endblock extra_head %}
{% block content %}
<div class="gridContainer">
    <!--IMAGE GRID-->
    <div class="imageGridContainer">
      {% for image in product.images.all %}
      <div class="imageContainer">
        <img src="{{ image.image.url }}" alt="{{ product.title }}">
      </div>
      {% endfor %}
    </div>
  
    <!--MOBILE IMAGE GRID-->
    <div class="imageGridContainerMobile">
      {% for image in product.images.all %}
      <div class="mobileImageContainer">
        <img src="{{ image.image.url }}" alt="{{ product.title }}">
      </div>
      {% endfor %}
    </div>
  
    
    <div class="detailsContainer">
      <div class="productTags">
        {% for tag in product.tags.all %}
          <p>{{ tag.name }}</p>
        {% endfor %}
      </div>
      <p>Bottom</p>
    </div>
  </div>
{% endblock content %}