{% load static %}
<header class="headerContainer">
  <!-- header left group -->
  <div class="headerLeft">
    <a href="{% url 'index' %}" class="headerTitle">
      <img src="{% static 'images/logo.png' %}" alt="Home" />
    </a>
    <a class="headerLinkText slideUnderlineGreen" href="#">New Arrivals</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Denim</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Shirts</a>
    <a class="headerLinkText slideUnderlineGreen" href="#">Track Orders</a>
  </div>

  <!-- header left hamburger menu (max-width: 768px) -->
  <div class="headerHamburger">
    <img id="hamburgerOpen" src="{% static 'images/HamburgerMenu.svg' %}" alt="Menu" id="hamburgerOpenId" />
  </div>

  <!-- header right group -->
  <a href="{% url 'cart' %}" class="headerRight">
    <img src="{% static 'images/cart.svg' %}" alt="Cart" class="cart-icon">
    {% if cart_item_count > 0 %}
        <span class="cart-badge">{{ cart_item_count }}</span>
    {% endif %}
  </a>
  <!-- MOBILE HEADER RIGHT CART ICON -->
  <a href="{% url 'cart' %}" class="cart-container">
    <img src="{% static 'images/cart.svg' %}" alt="Cart" class="cart-icon">
    {% if cart_item_count > 0 %}
        <span class="cart-badge">{{ cart_item_count }}</span>
    {% endif %}
  </a>
</header>

<div id="hamburgerMenuOverlay" class="hamburgerMenuOverlay"></div>
<div id="hamburgerMenuContainer" class="hamburgerMenuContainer">
  <div>
    <img id="hamburgerClose" src="{% static 'images/HamburgerClose.svg' %}" alt="Close" />
  </div>
  <div>New Arrivals</div>
  <div>Denim</div>
  <div>Shirts</div>
  <div>Track Orders</div>
</div>